.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-header_name {
	margin-bottom: 30px;
	margin-top: 30px;
}

.App-list {
	width: 1000px;
}

.App-buttons_block {
	display: flex;
}

.App-todo {
	display: flex;
	padding-bottom: 20px;
	padding-top: 20px;
	justify-content: space-between;
	border-top: 1px solid darkgrey;
}

.svg-icon {
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
	fill: darkgrey;
}

.svg-icon circle {
	stroke: darkgrey;
	stroke-width: 1;
}

.pen-icon {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.pen-icon path,
.pen-icon polygon,
.pen-icon rect {
	fill: darkgrey;
}

.pen-icon circle {
	stroke: darkgrey;
	stroke-width: 1;
}
